RewriteEngine On
RewriteCond %{HTTP_HOST} thecathaybusinessgroup\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://thecathaybusinessgroup.com/$1 [R,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php/ [NC,L]

ErrorDocument 404 http://localhost/cogia/not-found
